@font-face {
  font-family: "Bilbo";
  src: url(assets/Bilbo-Regular.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fix-width {
  max-width: 400px;
  margin: 0 auto;
}

.font-bilbo {
  font-family: "Bilbo", cursive;
}

.text-white {
  font-weight: 600;
}
